@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');


html {
  font-size: 62.5%;
}

:root {
  --principal-color: #FF7757;
  --secondary-color: #172432;
  --tertiary-color: #f1f1f1;
  --other-color-font: #767E86;
  --principal-color-background: #fff;
  --secondary-color-background: #172432 ;
  --tertiary-color-background: #FF7757 ;
  --other-color-background: #FFF8F1 ;
}

header {
  background-image: url('../assets/backgrounds/backgroundHeader.png');
  background-size: cover;
  height: 100vh;
}
/* barra de navegação */
nav {
  width: 100%;
  height: 12.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Rubik';
  position: absolute;
}
nav>img {
  width: 23.4rem;
  height: 4.56rem;
}

nav>ul {
  width: 41.7rem;
  display: flex;
  justify-content: space-between;

  color: var(--tertiary-color);
}
nav>ul>li {
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}
nav>ul>li:first-child{
  font-weight: 500;
}
nav>ul>li:first-child::after {
  content: '';
  display: block;
  margin-top: 0.4rem;
  width: 100%;
  height: 0.3rem;
  background-color: var(--principal-color);
}

/* Botões de Login e Cadastro do Header */
nav>div {
  width: 22.2rem;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>div a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--tertiary-color);
}
nav>div>button{
  width: 13.4rem;
  height: 100%;
  background-color: var(--principal-color);
  border: none;
  border-radius: 1.2rem;
}


/* HEADER */

/* Titulo/texto da header */
.containerHeader {
  height: 80%;
  display: grid;
  grid-template-columns: 18.2rem 1fr 18.2rem;
  grid-template-rows: 27rem 50% 50% 27rem;
  color: var(--tertiary-color);
}
.containerTextHeader {
  grid-column: 2/3;
  grid-row: 2;
  height: 26.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.containerTextHeader div>h1{
  font-family: 'Playfair Display';
  font-size: 8.4rem;
}
.containerTextHeader p {
  font-family: 'Rubik';
  font-size: 2.4rem;
}



/* Slider do Fundo */
.sliderHeader {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}




/* Container de texto e Inputs de datas do voo */
.containerInputsHeader {
  grid-column: 1/3;
  grid-row: 3;
  width: 147.3rem;
  height: 21.6rem;
  border-radius: 0% 2rem 2rem 0%;
  display: grid;
  grid-template-columns: 18.2rem 1fr 17rem;

  background-color: var(--principal-color-background);
}
.contentInputsHeader {
  grid-column: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contentInputsHeader div {
  display: flex;
  flex-direction: column;
}
.contentInputsHeader div>label {
  font-family: 'Rubik';
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--other-color-font);
}
.contentInputsHeader div>input {
  width: 22.5rem;
  height: 3.7rem;
  outline: 0;
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid var(--secondary-color);
  color: var(--secondary-color);
  font-family: 'Playfair Display';
  font-size: 2rem;
}
.contentInputsHeader div:nth-child(2)>input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contentInputsHeader div:nth-child(4)>input {
  font-size: 1.8rem;
}

/* Submit(Book Now) */
.bookNow {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0% 2rem 2rem 0%;

  background-color: var(--principal-color);
}
.bookNow input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  z-index: 10;
  position: absolute;
}
.bookNow h2 {
  font-family: 'Playfair Display';
  font-size: 3.2rem;
  width: 13rem;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookNow h2::after {
  content: url('../assets/logo_and_icons/arrow.svg');
  align-self: center;
  justify-self: center;
  width: 2.1rem;
}




/* DESTINATIONS */

.destinations {
  height: 120.6rem;

  display: grid;
  grid-template-columns: 18.2rem 1fr 18.2rem;
  grid-template-rows: 14rem 1fr 14rem;
  justify-content: space-between;

  background-color: var(--principal-color-background);
}
.destinations .containerButtonsTitleDestin {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-start;

  
  display: flex;
  justify-content: space-between;
}
.destinations .containerGalerySliderDestin {
  grid-column: 2/4;
  grid-row: 2;
  align-self: flex-end;
}

/* Area de texto do "Detinations" */
.containerTitleDestin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 16.5rem;
}
.containerTitleDestin h1 {
  font-family: 'Playfair Display';
  font-size: 6.4rem;
  color: var(--secondary-color);
}
.containerTitleDestin .breatherBarDestin {
  width: 36.5rem;
  height: 0.3rem;
  background-color: var(--principal-color);
}
.containerTitleDestin p {
  font-family: 'Rubik';
  font-size: 2.4rem;
  color: var(--other-color-font);
}
/* Botões da area de texto do "Detinations" */
.buttonsSliderDestin {
  width: 17.2rem;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.buttonsSliderDestin button {
  width: 6.6rem;
  height: 6rem;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
}
.buttonsSliderDestin button:first-child {
  background-color: var(--secondary-color-background);
}
.buttonsSliderDestin button:last-child {
  background-color: var(--tertiary-color-background);
}
.buttonsSliderDestin button>img {
  width: 1rem;
  height: 2rem;
}
.buttonsSliderDestin button:last-child>img {
  rotate: 180deg;
}


/* Galeria de imagens do "Detinations"  */
.contentGalerySliderDestin {
  display: flex;
  justify-content: space-between;
}
.contentGalerySliderDestin figure {
  display: flex;
  position: relative;
}
.contentGalerySliderDestin figure>img {
  width: 49.7rem;
  height: 66.1rem;
  object-fit: cover;
  border-radius: 2.6rem;
}
.contentGalerySliderDestin figure:last-child>img {
  width: 15.1rem;
  border-radius: 2.6rem 0rem 0rem 2.6rem;
}

.contentGalerySliderDestin figure>figcaption {
  position: absolute;
  height: 8.2rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0rem 0rem 4rem 2.4rem;
  color: var(--tertiary-color);
}
.contentGalerySliderDestin figure>figcaption p:first-child {
  font-family: 'Playfair Display';
  font-size: 2.8rem;
  font-weight: 500;
}
.contentGalerySliderDestin figure>figcaption p:last-child {
  font-family: 'Rubik';
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}
.contentGalerySliderDestin figure>figcaption>p:last-child::before {
  content: url(../assets/logo_and_icons/locationGalery.svg);
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.6rem;
}



/* SPECIAL OFFER */

.specialOffer {
  height: 117.4rem;

  display: grid;
  grid-template-columns: 18.2rem 1fr 18.2rem;
  grid-template-rows: 14rem 1fr 14rem;

  background-color: var(--principal-color-background);
}

.specialOffer .containerButtonsTitleSpecial {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-start;
    
  height: 16.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.specialOffer .containerGalerySpecialOffer {
  grid-column: 2;
  grid-row: 2;
  align-self: flex-end;
}

/* Area de texto do "Special Offer" */
.containerTitleSpecial {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
}
.containerTitleSpecial h1 {
  font-family: 'Playfair Display';
  font-size: 6.4rem;
  color: var(--secondary-color);
}
.containerTitleSpecial .breatherBarSpecial {
  width: 24.1rem;
  height: 0.3rem;
  background-color: var(--principal-color);
}
.containerTitleSpecial p {
  font-family: 'Rubik';
  font-size: 2.4rem;
  color: var(--other-color-font);
}

.buttonsSliderSpecial {
  width: 17.2rem;
  display: flex;
  justify-content: space-between;
}
.buttonsSliderSpecial button {
  width: 6.6rem;
  height: 6rem;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
}
.buttonsSliderSpecial button:first-child {
  background-color: var(--secondary-color-background);
}
.buttonsSliderSpecial button:last-child {
  background-color: var(--tertiary-color-background);
}
.buttonsSliderSpecial button>img {
  width: 1rem;
  height: 2rem;
}
.buttonsSliderSpecial button:last-child>img {
  rotate: 180deg;
}

/* Galeria de produtos em oferta */
.contentGalerySpecialOffer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentGalerySpecialOffer figure {
  width: 49.7rem;
  height: 62.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 2.6rem;
  background-color: var(--other-color-background);
}
.contentGalerySpecialOffer figure>img {
  width: 100%;
  height: 28.6rem;
  object-fit: cover;
  border-radius: 2.6rem 2.6rem 0rem 0rem;
}
.legendaImgSpecialOffer {
  width: 90%;
  height: 34.3rem;
  padding: 4rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.legendaImgSpecialOffer>div:first-child {
  height: 6.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.legendaImgSpecialOffer h3 {
  font-family: 'Mulish';
  font-size: 2.8rem;
   color: var(--other-color-font);
}
.ratingStars img {
  width: 2rem;
  height: 1.9rem;
}
.legendaImgSpecialOffer p {
  font-family: 'Rubik';
  font-size: 1.8rem;
  color: var(--secondary-color);
}
.valueAndButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.valueAndButton div {
  width: 16.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Rubik';
}
.valueAndButton div>p {
  font-size: 2rem;
  color: var(--other-color-font);
}
.valueAndButton div>p:last-child {
  font-size: 4rem;
  color: var(--principal-color)
}
.valueAndButton button {
  width: 15.9rem;
  height: 6.4rem;
  border-radius: 1.2rem;
  font-family: 'Rubik';
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--tertiary-color);
  background-color:var(--tertiary-color-background) ;
  border: none;
}


/* BLOG */

.blog {
  height: 141.8rem;

  display: grid;
  grid-template-columns: 18.2rem 1fr 18.2rem;
  grid-template-rows: 14rem 1fr 14rem;

  background-color: var(--principal-color-background);
}
.blog .containerTitleBlog {
  grid-column: 2;
  grid-row: 2;

  align-self: flex-start;
  height: 16.5rem;
}
.blog .containerBlogTextImg {
  grid-column: 2;
  grid-row: 2;

  align-self: flex-end;
}

/* Area de container e texto do "blog" */
.contentTitleBlog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.contentTitleBlog h1 {
  font-family: 'Playfair Display';
  font-size: 6.4rem;
  color: var(--secondary-color);
}
.contentTitleBlog .breatherBarBlog {
  width: 15rem;
  height: 0.3rem;
  background-color: var(--principal-color);
}
.contentTitleBlog p {
  font-family: 'Rubik';
  font-size: 2.4rem;
  color: var(--other-color-font);
}

/* Area de container e imagem com legnda do "blog" */

.contentBlogTextImg {
  display: flex;
  justify-content: space-between;
}
.containerBlogImg>img{
  border-radius: 2.6rem;
}
.containerBlogText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contentBlogText {
  width: 76.2rem;
  height: 66rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contentBlogText>h3 {
  font-family: 'Playfair Display';
  font-size: 5.4rem;
  color: var(--secondary-color);
}
.contentBlogText>p {
  font-family: 'Rubik';
  font-size: 2.4rem;
  line-height: 5.2rem;
  color: var(--secondary-color);
}
.contentBlogText>button {
  font-family: 'Rubik';
  font-size: 2.4rem;
  align-self: flex-start;
  cursor: pointer;

  border: none;
  background-color: transparent;
  color: var(--principal-color);
}
.contentBlogText>button::after {
  content: url('../assets/logo_and_icons/arrow_orange.svg');
  width: 2.7rem;
  height: 2rem;
  margin-left: 2rem;
}


/* TRIP PLANNERS */
.tripPlanners {
  height: 82.5rem;

  display: grid;
  grid-template-columns: 18.2rem 1fr 2fr 18.2rem;
  grid-template-rows: 14rem 1fr 14rem;

  background-color: var(--principal-color-background);
}

.tripPlanners .containerTitleTripPlanners {
  grid-column: 2;
  grid-row: 2;
  align-self: center;

  display: flex;
  flex-direction: column;
  width: 39.4rem;
  /* height: 37.6rem; */
}
.tripPlanners .containerGaleryTripPlanners {
  grid-column: 3/5;
  grid-row: 2;

  align-self: center;
}

/* Area de container, texto e botão do "Trip Planners" */
.contentTitleTripPlanners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22.1rem;
}
.contentTitleTripPlanners h1 {
  font-family: 'Playfair Display';
  font-size: 6.4rem;
  color: var(--secondary-color);
}
.contentTitleTripPlanners .breatherBarTripPlanners {
  width: 23.1rem;
  height: 0.3rem;
  background-color: var(--principal-color);
}
.contentTitleTripPlanners p {
  font-family: 'Rubik';
  font-size: 1.8rem;
  color: var(--other-color-font);
}

/* botão do trip planners */
.containerBtnTripPlanners {
  width: 21.8rem;
  height: 9.15rem;
  margin-top: 3.55rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerBtnTripPlanners button {
  font-family: 'Rubik';
  font-size: 1.8rem;
  width: 18.6rem;
  height: 6.1rem;
  cursor: pointer;

  border-radius: 1.2rem;
  border: none;
  background-color: var(--tertiary-color-background);
  color: var(--tertiary-color);

  z-index: 10;
}
.containerBtnTripPlanners>div:first-child {
  width: 100%;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  position: absolute;
}
.containerBtnTripPlanners>div:first-child>img {
  width: 4.3rem;
  height: 4.3rem;

  align-self: flex-start;
  z-index: 7;
}
.containerBtnTripPlanners>div:last-child {
  width: 100%;
  align-self: flex-end;

  display: flex;
  flex-direction: column;
  position: absolute;
}
.containerBtnTripPlanners>div:last-child>img {
  width: 4.3rem;
  height: 4.3rem;

  align-self: flex-end;
  z-index: 9;
}



