@media (max-width: 1650px) {
  :root {
    --margin-left-containers: 3.2rem;
    --margin-right-containers: 3.2rem;
    --fr1-calc-spec-and-destPeople: calc(100vw - (3.2rem*2));
  }
  
  nav {
    width: calc(100% - (3.2rem*2));
    padding: 0rem 3.2rem;
  }
}
@media (max-width: 1600px) {
  .contentBlogText>p {
    line-height: 4.2rem;
  }
}
@media (max-width: 1440px) {

  .containerInputsHeader {
    width: 85%;
  }
  .contentInputsHeader div>input {
    max-width: 19.57rem;
    font-size: 1.8rem;
  }

  .contentGalerySpecialOffer figure {
    width: 43.7rem;
    height: 62.9rem;
  }
  .contentGalerySpecialOffer figure>img {
    width: 43.7rem;
    height: 28.6rem;
  }

  .newsletter {
    width: 98%;
    max-width: 118rem;
  }

    
  .contentGalerySliderDestinPeoples {
    height: 54.3rem;
  }
  
  .contentGalerySliderDestinPeoples figure{
    width: 32rem;
    height: 46.9rem;
  }
  .contentGalerySliderDestinPeoples figure:hover {
    transform: translateY(-3.7rem);
  }
  .contentGalerySliderDestinPeoples figure>img {
    width: 32rem;
    height: 46.9rem;
  }
  
    
  #travelerExperiences .containerComentsClients {
    height: calc(33.6rem + 7.5rem) ;
  }
  .containerComentsTravelerExperiences {
    width: 56.2rem;
    height: 33.6rem;
  }
  .containerComentsTravelerExperiences>p {
    width: 56.2rem;
    font-family: 'Rubik';
    font-size: 1.8rem;
  }



  #blog {
    height: 134.7rem;
  }
  #destinGaleryPeoples {
    height: 108.8rem;
  }
  #travelerExperiences {
    height: 126.1rem;
  }

}
@media (max-width: 1350px) {
  .newsletter {
    width: 98%;
    max-width: 110rem;
  }
}
@media (max-width: 1150px) {
  :root {
    --margin-top-containers: 10rem;
    --margin-bottom-containers: 10rem;
  }

  .containerTextHeader>div>h1{
    font-size: 6.4rem;
  }
  .containerInputsHeader {
    width: 95%;
  }
  
  .contentGalerySpecialOffer figure {
    width: 34.1rem;
    height: 62.9rem;
  }
  .contentGalerySpecialOffer figure>img {
    width: 34.1rem;
    height: 28.6rem;
  }
  .valueAndButton div>p {
    font-size: 1.8rem;
  }
  .valueAndButton div>p:last-child {
    font-size: 2.8rem;
  }
  .valueAndButton button {
    width: 12.7rem;
    height: 5.6rem;
    font-size: 2rem;
  }
  
  
  .contentBlogText {
    height: 62.2rem;
  }
  .contentBlogText>p {
    font-size: 1.8rem;
    line-height: 4.2rem;
  }

  #tripPlanners .containerTitleTripPlanners {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    transform: translateY(8rem);
  }
  #tripPlanners .containerGaleryTripPlanners {
    height: 54.5rem;
    align-self: center;
  }
  .contentGaleryTripPlanners>figure {
    width: 25rem;
    height: 100%;
    
  }
  .contentGaleryTripPlanners>figure>img {
    width: 25rem;
    height: 35rem;
    border-radius: 2.6rem;
    
  }

  
  .contentGalerySliderDestinPeoples {
    height: 42.6rem;
  }
  
  .contentGalerySliderDestinPeoples figure{
    width: 24.8rem;
    height: 35.1rem;
  }
  .contentGalerySliderDestinPeoples figure:hover {
    transform: translateY(-3.75rem);
  }
  .contentGalerySliderDestinPeoples figure>img {
    width: 24.8rem;
    height: 35.1rem;
  }
  
  
  #travelerExperiences .containerComentsClients {
    height: calc(35.9rem + 7.5rem) ;
  }
  .containerComentsTravelerExperiences {
    width: 50rem;
    height: 35.9rem;
  }
  .containerComentsTravelerExperiences>p {
    width: 50rem;
    font-family: 'Rubik';
    font-size: 1.8rem;
  }

  .newsletter {
    width: 95%;
    flex-direction: column;
    align-items: flex-start;
  }
  .newsletter>h2 {
    font-size: 5.4rem;
    padding-left: 5%;
  }
  .newsletter>form {
    align-self: center;
    width:90%;
  }
  .newsletter>form>div {
    justify-content: space-between;
  }
  .newsletter>form>div>input:first-child {
    width: 70%;
  }


  #destinations {
    height: 115.4rem;
  }
  #specialOffer {
    height: 108.8rem;
  }
  #blog {
    height: 115.1rem;
  }
  #tripPlanners {
    height: 69.6rem;
  }
  #destinGaleryPeoples {
    height: 89.1rem;
  }
  #travelerExperiences {
    height: 120.4rem;
  }

}

@media (max-width: 1050px) {
  nav {
    justify-content: space-between;
  }
  nav>ul, nav>div:nth-child(3) {
    display: none;
  }
  .menuMobile {
    visibility: visible;
    display: flex;
  }

  .contentInputsHeader {
    justify-content: space-around;
    align-items: center;
  }
  .contentInputsHeader div>input {
    max-width: 15.85rem;
    font-size: 1.6rem;
  }

  .contentBlogText {
    justify-content: space-around;
  }
  .contentBlogText>p {
    line-height: 4rem;
  }

  footer {
    height: 113.4rem;
  }
  .contentFooter {
    width: 80%;
    height: 89.46rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media (max-width: 950px) {
  :root {
    --title-sections: 5.4rem;
  }

  .containerTextHeader>p{
    font-size: 2.2rem;
  }

  .contentInputsHeader {
    padding: 0rem 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .contentBlogText>h3 {
    font-size: 5rem;
  }
  .contentBlogText>p {
    line-height: 3.3rem;
  }

  .containerTitleDestin>p, .containerTitleSpecial>p, .contentTitleBlog>p, .contentTitleTripPlanners>p, .containerTitleDestinPeoples>p, .contentTitleTravelerExperiences>p {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  :root {
    --margin-top-containers: 8rem;
    --margin-bottom-containers: 8rem;
    --margin-left-containers: 2rem;
    --margin-right-containers: 2rem;
    --fr1-calc-spec-and-destPeople: calc(100vw - (2rem*2));
  }


  
  .contentInputsHeader {
    padding: 0rem 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }


  
  
  #destinations .containerButtonsTitleDestin {
    flex-direction: column;
    justify-content: space-between;
    align-self: auto;
  }
  #destinations .containerGalerySliderDestin {
    align-self: flex-end;
    transform: translateY(-13.2rem);
  }
  .containerTitleDestin {
    height: 15.2rem;
  }
  .buttonsSliderDestin {
    width: 16rem;
    justify-content: space-between;
    align-self: center;
  }
  .contentGalerySliderDestin figure {
    width: var(--fr1-calc-spec-and-destPeople);
    margin-right: 3.2rem;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  .contentGalerySliderDestin figure>img {
    width: var(--fr1-calc-spec-and-destPeople);
    height: 45.6rem;
    object-fit: cover;
    border-radius: 2.6rem;
  }



  #specialOffer .containerButtonsTitleSpecial {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-self: auto;
  }
  #specialOffer .containerGalerySpecialOffer {
    align-self: flex-end;
    transform: translateY(-12rem);
  }
  .containerTitleSpecial {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 15.2rem;
  }
  .buttonsSliderSpecial {
    width: 16rem;
    justify-content: space-between;
    align-self: center;
  }
  .contentGalerySpecialOffer figure {
    width: var(--fr1-calc-spec-and-destPeople);
    height: 45rem;
  }
  .contentGalerySpecialOffer figure>img {
    width: var(--fr1-calc-spec-and-destPeople);
    height: 20rem;
  }
  .legendaImgSpecialOffer>div:first-child {
    height: 5rem;
  }
  .legendaImgSpecialOffer h3 {
    font-size: 2.5rem;
  }  
  .ratingStars img {
    width: 1.6rem;
    height: 1.5rem;
  }
  .legendaImgSpecialOffer p {
    font-size: 1.4rem;
  }
  .valueAndButton div {
    width: 13.6rem;
  }
  .valueAndButton div>p {
    font-size: 1.8rem;
  }
  .valueAndButton div>p:last-child {
    font-size: 3rem;
  }


  #blog .containerTitleBlog {
    height: 15.2rem;
  }
  #blog .containerBlogTextImg {
    align-self: flex-end;
  }
  .contentBlogTextImg {
    flex-direction: column;
    justify-content: space-between;
  }
  .containerBlogImg {
    width: 100%;
    height: 55.5rem;
  }
  .containerBlogText {
    width: 100%;
  }
  .contentBlogText {
    margin-top: 2.5rem;
    height: 53.8rem;
    justify-content: space-around;
  }
  .contentBlogText>h3 {
    font-size: 5.4rem;
  }
  .contentBlogText>p {
    font-size: 1.8rem;
    line-height: 4.2rem;
  }
  .contentBlogText>button {
    font-size: 2.4rem;
  }



  #tripPlanners {
    grid-template-columns: var(--margin-left-containers) 1fr var(--margin-right-containers);
    grid-template-rows: var(--margin-top-containers) 1fr var(--margin-bottom-containers);
  }
  
  #tripPlanners .containerTitleTripPlanners {
    grid-column: 2;
    grid-row: 2;
    align-self: flex-start;
  
    display: flex;
    flex-direction: column;
  }
  #tripPlanners .containerGaleryTripPlanners {
    grid-column: 2;
    grid-row: 2;

    height: 217.2rem;
    align-self: flex-end;
  }
  .contentGaleryTripPlanners {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contentGaleryTripPlanners>figure {
    margin-top: 3.2rem;
    margin-left: 0rem;
    width: var(--fr1-calc-spec-and-destPeople);
    height: 51.3rem;
    display: flex;
    
  }
  .contentGaleryTripPlanners>figure:first-child {
    margin-top: 0rem;
  }
  .contentGaleryTripPlanners>figure>img {
    align-self: flex-start;
    width: 100%;
    height: 35rem;
  }
  .contentGaleryTripPlanners>figure:hover>img {
    transform: none;
  }
  .contentGaleryTripPlanners figure:hover>figcaption{
    transform: translateY( calc(140%));
  }
  .contentGaleryTripPlanners figure>figcaption {
    transform: translateY( calc(140%));
  }



  #destinGaleryPeoples .containerButtonsTitleDestinPeoples {
    align-self: flex-start;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  #destinGaleryPeoples .containerGalerySliderDestinPeoples {
    align-self: center;
  }
  .containerTitleDestinPeoples {
    align-self: flex-start;
    height: 15.2rem;
  }
  .buttonsSliderDestinPeoples {
    width: 16rem;
    align-self: center;
    transform: translateY(-6.6rem);
  }
  
  .contentGalerySliderDestinPeoples {
    width: 100%;
    height: 155rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: grab;
  }
  .contentGalerySliderDestinPeoples figure{
    width: 100%;
    height: 35.1rem;
    margin-bottom: 3.2rem;
    align-self: center;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .contentGalerySliderDestinPeoples figure:last-child {
    margin-bottom: 0rem;
  }
  .contentGalerySliderDestinPeoples figure:hover {
    transform: translateY(0rem);
  }
  .contentGalerySliderDestinPeoples figure>img {
    width: 100%;
    height: 35.1rem;
    border-radius: 2.6rem;
    cursor: pointer;
  }



  #travelerExperiences .containerTitleTravelerExperiences {
    height: 15.2rem;
    align-items: center;
  }
  
  #travelerExperiences .containerComentsClients {
    margin-top: 9rem;
    align-self: center;

    height: calc(35.9rem + 7.5rem) ;
  }
  #travelerExperiences .containerButtonsSliderTravelerExperiences {
    flex-direction: column;
  }
  .containerComentsTravelerExperiences {
    width: 50rem;
    height: 35.9rem;

  }
  .buttonsSliderTravelerExperiences {
    width: 16rem;
    align-self: center;
  }



  .newsletter {
    top: calc(-32.4rem /1.5);
    height: 32.4rem;
  }
  .newsletter>h2 {
    font-size: 5.4rem;
  }

  
  #destinations {
    height: 95rem;
  }
  #specialOffer {
    height: 95rem;
  }
  #blog {
    height: 153.7rem;
  }
  #tripPlanners {
    height: 276.4rem;
  }
  #destinGaleryPeoples {
    height: 207.2rem;
  }
  #travelerExperiences {
    height: 105.1rem;
  }

}
@media (max-width: 730px) {
  .newsletter>form>div>input:first-child {
    width: 60%;
  }
}
@media (max-width: 620px) {

  :root {
    --margin-left-containers: 1.6rem;
    --margin-right-containers: 1.6rem;
    --fr1-calc-spec-and-destPeople: calc(100vw - (1.6rem*2));
  }

  header {
    height: 121rem;
  }
  
  .containerHeader {
    height: 80%;
    display: grid;
    grid-template-columns: var(--margin-left-containers) 1fr var(--margin-right-containers);
    grid-template-rows: calc(100vh / 4.8) 50% 50% calc(100vh / 4);
    color: var(--tertiary-color);
    z-index: 10;
  } 
  .menuSliderHeader {
    display: none;
  }
  
  /* Slider do Fundo */
  .contentSliderHeader {
    height: 121rem;
  }

  .containerInputsHeader {
    width: 80%;
    height: 59.5rem;
    grid-column: 2/3;
    grid-row: 2/4;
    grid-template-columns: 1fr;
    grid-template-rows: var(--margin-left-containers) 1fr 17rem;
    margin: 0 auto;
    align-self: flex-end;
    transform: translateY(-6rem);
    border-radius: 2rem;
  }
  .contentInputsHeader {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .contentInputsHeader div>label {
    font-size: 1.4rem;
  }
  .contentInputsHeader div>input {
    width: 30rem;
    max-width: 100%;
    height: 2.9rem;
    font-size: 1.4rem;
  }
  .contentInputsHeader div:nth-child(4)>input {
    font-size: 1.4rem;
  }
  .bookNow {
    display: none;
  }
  .bookNowMobile{
    grid-column: 1;
    grid-row: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0% 0% 2rem 2rem ;

    background-color: var(--principal-color);
  }
  .bookNowMobile h2 {
    width: 21.5rem;
  }



  
  .contentGaleryTripPlanners figure:hover>figcaption{
    transform: translateY( calc(130%));
  }
  .contentGaleryTripPlanners figure>figcaption {
    transform: translateY( calc(130%));
  }



  
  #travelerExperiences .containerTitleTravelerExperiences {
    height: 15.2rem;
    align-items: center;
  }
  
  #travelerExperiences .containerComentsClients {
    margin-top: 9rem;
    align-self: center;

    height: calc(35.9rem + 7.5rem) ;
  }
  #travelerExperiences .containerButtonsSliderTravelerExperiences {
    flex-direction: column;
  }
  .containerComentsTravelerExperiences {
    width: 100%;
    height: 35.9rem;

  }
  .containerComentsTravelerExperiences>p {
    width: 32rem;
  }
  .buttonsSliderTravelerExperiences {
    width: 16rem;
    align-self: center;
  }
  

  /* tamanho de fonts */
  
  .containerTextHeader div>h1{
    font-size: 5.4rem;
  }
  .containerTextHeader p {
    font-size: 2rem;
  }


}
@media (max-width: 500px) {
  .containerInputsHeader {
    width: 90%;
  }
  .contentBlogText>p {
    font-size: 1.8rem;
    line-height: 3.8rem;
  }
  .newsletter>form>div>input:first-child {
    text-indent: 2rem;  
  }
}
@media (max-width: 435px) {
  :root {
    --title-sections: 5rem;
  }

  .containerTextHeader {
    height: 21.7rem;
  }
  .containerTextHeader div>h1{
    font-size: 4.5rem;
  }
  .containerTextHeader p {
    font-size: 1.8rem;
  }
  .containerInputsHeader {
    width: 95%;
  }
  .contentInputsHeader div>input {
    width: 26rem;
  }




  .containerTitleDestin {
    height: 22.1rem;
  }
  .containerTitleSpecial {
    height: 14.7rem;
  }
  .contentTitleBlog {
    height: 14.7rem;
  }
  .contentTitleTripPlanners {
    height: 21rem;
  }
  .containerTitleDestinPeoples {
    height: 17.9rem;
  }
  .contentTitleTravelerExperiences {
    height: 22.2rem;
  }
  .containerTitleDestin>p, .containerTitleSpecial>p, .contentTitleBlog>p, .contentTitleTripPlanners>p, .containerTitleDestinPeoples>p, .contentTitleTravelerExperiences>p {
    font-size: 1.6rem;
  }
  

  #blog .containerBlogTextImg {
    align-self: flex-end;
  }
  .contentBlogTextImg {
    height: 95rem;
    flex-direction: column;
    justify-content: space-between;
  }
  .containerBlogImg {
    width: 100%;
    height: 31.4rem;
  }
  .contentBlogText>h3 {
    font-size: 4rem;
  }
  .contentBlogText>p {
    font-size: 1.8rem;
    line-height: 3.8rem;
  }
  .contentBlogText>button {
    font-size: 2.2rem;
  }


  
  .contentGalerySliderDestin figure {
    margin-right: 3.2rem;
  }
  .contentGalerySliderDestin figure>img {
    height: 32rem;
    border-radius: 1.6rem;
  }


  #tripPlanners .containerTitleTripPlanners {
    width: 100%;
  }
  #tripPlanners .containerGaleryTripPlanners {
    height: 198.84rem;
    align-self: flex-end;
  }
  .contentGaleryTripPlanners>figure {
    height: 46.6rem;
    margin-bottom: 4rem;
  }
  .contentGaleryTripPlanners>figure>img {
    height: 32rem;
  }
  .contentGaleryTripPlanners figure>figcaption{
    transform: translateY(120%);
  }
  .contentGaleryTripPlanners figure:hover>figcaption{
    transform: translateY(120%);
  }


  /* Todas barras de Respiro */
  .containerTitleDestin .breatherBarDestin {
    width: 22.7rem;
    height: 0.3rem;
  }
  .containerTitleSpecial .breatherBarSpecial {
    width: 21rem;
    height: 0.3rem;
  }
  .contentTitleBlog .breatherBarBlog {
    width: 13rem;
    height: 0.3rem;
  }
  .contentTitleTripPlanners .breatherBarTripPlanners {
    width: 22rem;
    height: 0.3rem;
  }
  .containerTitleDestinPeoples .breatherBarDestinPeoples {
    width: 24rem;
    height: 0.3rem;
  }
  .contentTitleTravelerExperiences .breatherBarTravelerExperiences {
    width: 30rem;
    height: 0.3rem;
  }


  #travelerExperiences .containerTitleTravelerExperiences {
    height: 15.2rem;
    align-items: center;
  }
  
  #travelerExperiences .containerComentsClients {
    margin-top: 9rem;
    align-self: center;

    height: calc(40rem + 7.5rem) ;
  }
  #travelerExperiences .containerButtonsSliderTravelerExperiences {
    flex-direction: column;
  }
  .containerComentsTravelerExperiences {
    width: 25rem;
    height: 40rem;

  }
  .containerComentsTravelerExperiences>p {
    width: 25rem;
  }
  .buttonsSliderTravelerExperiences {
    width: 16rem;
    align-self: center;
  }



  .newsletter {
    top: calc(-32.4rem /1.5);
    height: 46.3rem;
  }
  .newsletter>h2 {
    font-size: 4rem;
  }
  .newsletter>form {
    height: 21.7rem;
  }
  .newsletter>form>div {
    width: 100%;
    flex-direction: column;
  }
  .newsletter>form>div>input {
    outline: none;
  }
  .newsletter>form>div>input:first-child {
    width: 100%;
    height: 7.2rem;
    text-indent: 0rem;
    text-align: center;
  }
  .newsletter>form>div>input:last-child {
    width: 100%;
    height: 7.3rem;
    margin-top: 3.2rem;
  }



  
  #destinations {
    height: 90.1rem;
  }
  #specialOffer {
    height: 95rem;
  }
  #blog {
    height: 130rem;
  }
  #tripPlanners {
    height: 255.7rem;
  }
  #destinGaleryPeoples {
    height: 207.2rem;
  }
  #travelerExperiences {
    height: 110rem;
  }

}


